
.homepage_image{
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #33FF00;
}

.vertical_image{
  font-size: 25px;
  padding: 1em;
  margin: 60px;
  color: white;
  border: 1px solid #33FF00;
}

.help{
  border-style: solid;
  border: 1px solid #F4225E;
  margin-bottom: 4rem;
}

.help2{
  border-style: solid;
  border: 1px solid #816CFF;
  height: auto;
}

.holder{
  margin: 4rem;
}

.application{
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  border: 1px solid #33FF00;
  padding: 30px;
  color: white
}

.home-app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
