.homepage_image {
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #33FF00;
}

.zoom2, .zoom4 {
  width: 350px;
  height: max-content;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 20px;
  // margin-right: 60px;
}

.zoom{
  width: 350px;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 40px;
  // margin-top: 60px;
}

.zoom3{
  width: 350px;
  height: max-content;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 20px;
}

.zoom-photos {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
}

.phrase-cards {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 80px 50px 80px;
}

li {
  list-style-type: circle;
  padding: 10px;
  margin-left: 20px;
  // color: black ;
}

.about-card{
  font-size: 25px;
  padding: 1em;
  margin: 60px;
  margin-left: 72px;
  color: white;
  border: 1px solid $cas-red;
  background-color: white;
  border-radius: 16px;
  color: black;
  p {
    padding: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
  }
  h2 {
    padding: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.about-info {
  h2 {
    padding: 60px;
    padding-bottom: 0px;
  }
}

.about-page-cards-container {
  display: flex;
  flex-direction: column;
}

.main-about-page-container {
  display: flex;
}

.application-card, .about-card {
  width: 90%;
}

.phrase-card-about {
  width: 350px;
  padding: 10px 30px;
  margin-left: 0;
  border-radius: 16px;
  h2 {
    font-size: 20px;
  }
  background: $cas-red;
  color: black;
}
