.homepage_image {
  max-width: 100%;
  height: auto;
  border-bottom: 2px solid #33FF00;
}

.zoom2, .zoom4 {
  width: 350px;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 20px;
  margin-right: 60px;
}

.zoom{
  width: 350px;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 20px;
  margin-top: 60px;
}

.zoom3{
  width: 350px;
  border-style: solid;
  border: 1px solid $cas-turquoise;
  margin-bottom: 20px;
}

.zoom-photos {
  margin-bottom: 20px;
}

.application-committee-info {
  padding: 20px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
}

.committee-positions {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  ul {
    width: 300px;
  }
}

.app-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  a {
    padding: 8px;
    margin-top: 70px;
    margin-right: 40px;
    width: auto;
    height: 60px;
    border-radius: 16px;
    border: solid 2px $cas-red;
    color: $white;
    background-color: black;
    // background-color: $cas-red;
    // box-shadow: 1px 2px black;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    // font-weight: normal;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px $cas-red;
  }
}


.btn-grad {background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%)}
.btn-grad {

  transition: 0.5s;
  background-size: 200% auto;
  // color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 16px;
  display: block;
}

li {
  list-style-type: circle;
  padding: 10px;
  margin-left: 20px;
  // color: black ;
}

.about-card{
  font-size: 25px;
  padding: 1em;
  margin: 60px;
  color: white;
  border: 1px solid $cas-lime-green;
  background-color: white;
  border-radius: 16px;
  color: black;
  p {
    padding: 60px;
    margin-bottom: 0px;
  }
}

.phrase-card {
  padding: 16px;
  margin-bottom: 20px;
  color: white;
  // border: 1px solid $cas-pink;
  background-color: $cas-red;
  border-radius: 16px;
  width: 350px;
  margin-left: 0;
  h2 {
    font-size: 20px;
  }
}

.application-card {
  // width: 1040px;
  // background: linear-gradient(#f5d9e1 40%, #fc336c 80%);
  background-color: white;
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 20px;
  border: 1px solid $cas-turquoise;
  border-radius: 16px;
  padding: 30px;
  color: black;
  p {
    padding: 0px 60px;
    margin-top: 10px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h2, h3 {
    color: black;
    padding-left: 60px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}

.about-info {
  h2 {
    padding: 60px;
    padding-bottom: 0px;
  }
}

.about-page-cards-container {
  display: flex;
  flex-direction: column;
}

.main-about-page-container {
  display: flex;
}

.application-card, .about-card {
  width: 90%;
}

// .bloody-annoying-arrow {
//   display: flex;
//   justify-content: center;
//   margin-top: 50px;
//   i {
//     color: $cas-red;
//   }
// }


// .arrow1 {
//   animation: slide1 1s ease-in-out infinite;
//   margin-left: 9px;
// }

// @keyframes slide1 {
//   0%,
//   100% {
//     transform: translate(0, 0);
//   }

//   50% {
//     transform: translate(0px, 10px);
//   }
// }
