
.homepage_image{
  max-width: 100%;
  height: auto;
}

.vertical_image{
  font-size: 25px;
  padding: 1em;
  margin: 3rem;
  color: white;
  border-style: solid;
  border-color: yellowgreen;
}

.help{
  border-style: solid;
  border-color: red;
  margin-bottom: 4rem;
}

.help2{
  border-style: solid;
  border-color: orange;
  height: auto;
}

.holder{
  margin: 4rem;
}

.application{
  margin-bottom: 6rem;
  font-size: 20px;
  border: 3px solid yellowgreen;
  padding: 3px;
  color: white
}

.home-app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
