.application-input {
  padding: 0px 60px;
}

.phrase-card {
  width: 350px;
  margin-left: 0;
  h2 {
    font-size: 20px;
  }
}

.app-phrase-card, .inverse-phrase-card {
  margin-left: 60px;
  margin-right: 60px;
  width: 900px;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
  color: white;
}

.phrase-card, .app-phrase-card {
  background-color: $cas-red;
}

.inverse-phrase-card {
  background: transparent;
  border: 1px solid $cas-red;
}

.phrase-card, .app-phrase-card, .inverse-phrase-card  {
  padding-left: 30px;
}

.app-phrase-card {
  h2 {
    font-size: 30px;
  }
  margin-top: 60px;
  p {
    font-size: 20px;
  }
}

.app-phrase-card2 {
  margin-top: 0px;
}

.committee-positions {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  ul {
    width: 300px;
    padding-left: 0px;
    font-size: 20px;
  }
}

.application-card {
  // width: 1040px;
  // background: linear-gradient(#f5d9e1 40%, #fc336c 80%);
  background-color: white;
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 20px;
  border: 1px solid $cas-turquoise;
  border-radius: 16px;
  padding: 30px;
  color: black;
  p {
    padding: 0px 60px;
    margin-top: 10px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h2, h3 {
    color: black;
    padding-left: 60px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}

.application-committee-info {
  padding: 20px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
}

.app-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  a {
    padding: 8px;
    margin-top: 70px;
    margin-right: 60px;
    width: 100%;
    height: 565px;
    border-radius: 16px;
    border: solid 2px $cas-red;
    color: $white;
    background-color: black;
    // background-color: $cas-red;
    // box-shadow: 1px 2px black;
    font-size: 26px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
    // font-weight: normal;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 2px $cas-red;
  }
}
