
.m-fadeOut {
  display: none;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.application-input {
  padding: 0px 60px;
}

.phrase-card {
  width: 350px;
  margin-left: 0;
  border-radius: 16px;
  h2 {
    font-size: 20px;
  }
}

.app-phrase-card, .inverse-phrase-card {
  margin-left: 60px;
  margin-right: 60px;
  width: 900px;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
  // color: white;
}

.phrase-card, .app-phrase-card {
  background-color: white;
  color: black;
  border: 1px solid $cas-red;
}

.inverse-phrase-card {
  background: transparent;
  // border: 1px solid $cas-red;
  color: white;
  padding-top: 30px;
}

.phrase-card, .app-phrase-card, .inverse-phrase-card  {
  padding-left: 30px;
}

.app-phrase-card {
  h2 {
    font-size: 30px;
  }
  margin-top: 60px;
  p {
    font-size: 20px;
  }
  h3 {
    color: black;
  }
}

.app-phrase-card2 {
  margin-top: 0px;
}

.committee-positions {
  width: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  ul {
    width: 300px;
    padding-left: 0px;
    font-size: 20px;
  }
}

.application-card {
  // width: 1040px;
  // background: linear-gradient(#f5d9e1 40%, #fc336c 80%);
  background-color: white;
  margin: 60px;
  margin-top: 0px;
  margin-bottom: 100px;
  font-size: 20px;
  border: 1px solid $cas-turquoise;
  border-radius: 16px;
  padding: 30px;
  color: black;
  p {
    padding: 0px 60px;
    margin-top: 10px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h2, h3 {
    color: black;
    padding-left: 60px;
  }
  h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}

.application-committee-info {
  padding: 20px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
}

.apply-now-button {
  background-color: transparent;
  margin: auto;
  padding: 28px 42px;
  border: solid 1px $cas-red;
  border-radius: 16px;
  color: $cas-turquoise;
  background-color: transparent;
  font-size: 35px;
  font-weight: lighter;
  text-decoration: none;
  text-align: center;
  height: 400px;
}
.outside-button {
  height: 460px;
  background-color: transparent;
  padding: 24px;
  border: solid 1px $cas-turquoise;
  border-radius: 16px;
  position: absolute;
  right: 60px;
  bottom: 80px;
}

.apply-now-button:hover {
  box-shadow: 1px 2px $cas-red;
}

.outside-button:hover {
  box-shadow: 1px 2px $cas-turquoise;
}

.btn-primary {
  margin-top: 27px;
}

#thing {
  color: white;
}

.name {
padding-left: 60px;
}

.email {
  padding-left: 60px;
}
// .new-event-card {
//   a {
//     left: 4%;
//     top: 4%;
//     margin-left: 10px;
//     margin-right: 25px;
//   }
//   margin-top: auto;
// }

// #join_application {
//   padding: 50px;
// }
