.item1, .item2 {
  // flex-grow: 1;
  padding: 30px;
  height: 100%;
  // border-style: solid;
  color: white;
  border-color: #2AFF19;
  border-width: thin;
  background-color: black;
  text-align: center;

}

.item1 {
  width: 580px;
  border-color: #2AFF19;

}

.division-line-div {
  height: 150vh;
  border-left: 1px solid #2AFF19;
}

.item2 {
  width: 340px;
}

.item + .item {
  margin-left: 2%;
}

.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

ul {
  list-style: none;
}

.cards {
  margin: auto;
  border: solid 1px $cas-red;
  border-radius: 8px;
  // list-style: none;
  // margin-top: 16px;
  // margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  width: 80%;
  img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    // margin: 30px;
    // these are specified in the HTML no? which are they listening to?
  }

  text-align: left;

  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: normal;
    padding: 0px 0px;
  }

  .tickets {
    font-family: $headers-font;
    font-weight: normal;
    margin-left: -20px;
    text-align: center;
    margin-bottom: 0px;
  }

  li {
    display: block;
  }

  padding-bottom: 0px;
}

.profile-saved-resize {
  width: 100%;

}
