.item1, .item2 {
  // flex-grow: 1;
  padding: 30px;
  height: 100%;
  border-style: solid;
  color: white;
  border-color: #2AFF19;
  border-width: thin;
  background-color: black;
  text-align: center;
}

.item1 {
  width: 580px;
}

.item2 {
  width: 340px;
}

.item + .item {
  margin-left: 2%;
}

.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.avatar {
  height: 60px;
  width: 60px;
}

ul {
  list-style: none;
}

.cards {
  margin: auto;
  border: solid 1px $cas-red;
  border-radius: 8px;
  // list-style: none;
  // margin-top: 16px;
  // margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  margin-bottom: 20px;
  width: 80%;
}
