.item {
  // flex-grow: 1;
  height: 100%;
  border-style: solid;
  color: white;
  border-color: #2AFF19;
  border-width: thin;
  background-color: black;
  text-align: center;
}

.item + .item {
  margin-left: 2%;
}

.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.avatar {
  height: 60px;
  width: 60px;
}

ul {
  list-style: none;
}
