<%# <h2>This is about page check it out yah</h2> %>

<%# <%= image_tag "CAST", class: "homepage_image" %>

<%# <img class="homepage_image" src="https://res.cloudinary.com/ds2g4bsxw/image/upload/v1630667562/Screenshot_2021-09-03_at_12.11.20_tarcis.png" alt="BANNER"> %>

<h2>ABOUT CAS</h2>


<div class="d-flex">
  <div class="vertical_image">
    <p class="about-info">CAS began in January 2021, so we are a <strong>brand new</strong> society!

  We strongly believe in the power of art to inspire and educate, and to facilitate important conversations surrounding <strong>social, political, and environmental issues</strong>.

  We run bi-monthly events that focus on specific issues or artists - they are informative and <strong>FUN</strong>, and now that lockdowns have buggered off, they will be followed by socials such as games and club nights!

  Our past events have all been on zoom, and while we’re SUPER excited to begin hosting in person events, we will be live streaming events for any students that cannot attend or are still operating virtually!

  We will also upload recordings of each event so that you can watch them back at your leisure
    </p>
  </div>
  <div class="holder">
  <div class="help">
    <%# <%= image_tag "HELP", class: "homepage_image" %>
    <img class="homepage_image" src="https://res.cloudinary.com/ds2g4bsxw/image/upload/v1630667493/Screenshot_2021-01-22_at_18.31.04_copy_n1qird.png" alt="BANNER">

  </div>
  <div class="help2">
    <%# <%= image_tag "HELP2", class: "homepage_image" %>
    <img class="homepage_image" src="https://res.cloudinary.com/ds2g4bsxw/image/upload/v1630667494/Screenshot_2021-02-19_at_18.20.32_copy_fqejer.png" alt="BANNER">

  </div>
</div>
</div>

<div class="application">
  <div class="application-header">
    <h2>JOIN OUR COMMITTEE!</h2>
    <h3>Applications to be on CAS committee are now open.</h3>
    <p>Apply now to stand for a position in our upcoming election (:<p>
    <%# <p>Positions available:</p> %>
    <div class="home-app-info">
      <div class="committee-positions">
        <ul>
          <li>President x1</li>
          <li>Social Secretary x1</li>
          <li>Treasurer x1</li>
          <li>Secretary x1</li>
        </ul>
      </div>
      <div class="committee-positions">
        <ul>
          <li>Events Manager x1</li>
          <li>Social Secretary x1</li>
          <li>Publicity Officer x1</li>
          <li>Content Creator x4</li>
        </ul>
      </div>
      <div class="app-button">
        <a href="#">Apply Now</a>
      </div>
    </div>
  </div>
</div>
