<div class="container d-flex justify-content-center">
  <div class="centred-container">
    <div class="d-flex justify-content-left">
      <h1 class="adjust-cas-logo" style ="font-size: 250px;">CAS</h1>
    </div>
    <div class="center foot">
    <%#  %>

    <%#  %>
    <%= link_to events_path, class:"loader" do %>
          <span class="move-up">Explore</span>
        <div class="loader-bg">
        </div>
        <div class="drops">
          <div class="drop1"></div>
          <div class="drop2"></div>
        </div>

      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="center">
        <defs>
          <filter id="liquid">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="liquid" />
          </filter>
        </defs>
      </svg>
    <% end %>
    </div>
  </div>
</div>
