<div class="container">
  <div class="centred-container">
    <div class="center">
      <h1 style ="font-size: 250px;">CAS</h1>
    </div>
    <div class="center foot">
    <%= link_to "Explore", events_path, class: "white-button" %>
    </div>
  </div>
</div>
