<h1>This is my profile</h1>
<div class="container">
  <div class="item">
  <h2 class="home-column-title">EVENT BOOKINGS:</h2>
  </div>
  <div class="item">
    <h2 class="home-column-title">SAVED CONTENT:</h2>
  </div>
  <div class="item">
    <h2 class="home-column-title">MY INFO:</h2>
  </div>
</div>
