<h2 class="feed-header">CONTEMPORARY CONTENT</h2>
<div class="other-container">
  <% @feed_items.each do |feed_item| %>
    <div class="feed-items-card" data-aos="zoom-out-up" data-aos-duration=90>
      <% if feed_item.url %>
        <%# <%= cl_image_tag feed_item.photo.key, height: 150, width: 200, crop: :fill, class: "feed-item-photo", href: feed_item.url, target: "blank" %>
        <%= link_to cl_image_tag(feed_item.photo.key), feed_item.url, class: "feed-item-photo", href: feed_item.url, target: "blank" %>
      <% end %>

      <% if feed_item.description %>
        <div class="flip-card">
          <div class="flip-card-front">
            <%= cl_image_tag feed_item.photo.key, height: 150, width: 200, crop: :fill, class: "feed-item-photo flip-card-front"%>
          </div>
          <div class="flip-card-back">
            <li class="feed-item-info">
              <p><%=feed_item.description%></p>
            </li>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
