.events-card {
  position: relative;
  height: 600px;
  border: solid 1px $cas-turquoise;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: lighter;
    padding: 0px 0px;
  }

    li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
  }
  // a:hover {
  //   color: black;
  //   background-color: white;
  // }

  img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    // margin: 30px;
    // these are specified in the HTML no? which are they listening to?
  }

}

h1, h2, h3 {
  padding-left: 60px;
  color: white;
}

h2 {
  font-size: 50px;
  padding-top: 60px;
}
// h1, p {
//   color: white;
//   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
// }

// .h3, h4 {
//   padding-left: 60px;
//   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.387);
//   margin: 0px;
// }

// .h3 {
//   font-size: 30px;
// }

// h4 {
//   padding-right: 60px;
//   padding-bottom: 40px;
//   text-align: justify;
//   color: white;
// }


.other-container {
  padding: 60px;
  // justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
