.main-container {
  padding: 60px;
}

.avatar {
  height: 60px;
  width: 60px;
  margin-top: 2px;
  margin-right: -2px;
}

.header-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter {
  display: flex;
  flex-direction: row;
  h4 {
    font-size: 34px;
    color: white;
    padding-top: 12px;
  }
}

.events-card, .new-event-card {
  position: relative;
  height: 600px;
  border: solid 1px $cas-turquoise;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: lighter;
    padding: 0px 0px;
  }

    li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
    // button to book event
  }
  // a:hover {
  //   color: black;
  //   background-color: white;
  // }

  img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    // margin: 30px;
    // these are specified in the HTML no? which are they listening to?
  }

}

h1, h2, h3 {
  padding-left: 60px;
  color: white;
}

h2 {
  font-size: 50px;
  padding-bottom: 60px;
  padding-left: 0px;
}
// h1, p {
//   color: white;
//   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
// }

// .h3, h4 {
//   padding-left: 60px;
//   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.387);
//   margin: 0px;
// }

// .h3 {
//   font-size: 30px;
// }

// h4 {
//   padding-right: 60px;
//   padding-bottom: 40px;
//   text-align: justify;
//   color: white;
// }



.other-container {
  // justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .event-photo {
    border: 1px solid $cas-pink;
    // this is what is putting pink around the photo on each card!
  }
}

.bookings-card {
  position: relative;
  border: solid 1px $cas-turquoise;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: lighter;
    padding: 0px 0px;
  }

    li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
  }
  // a:hover {
  //   color: black;
  //   background-color: white;
  // }

  img {
    width: 50%;
    height: 260px;
    border-radius: 8px;
    // margin: 30px;
    // these are specified in the HTML no? which are they listening to?
  }

}

.new-event {
  // text-align: center;
  // #new-event-sweet-alert-button {
  //   display:inline-block;
  // }
  input {
    border: 1px solid $cas-red;
  }
}

.new-event-card {
  background-color: transparent;
  a {
    // position: absolute;
    left: 2%;
    top: 4%;
    margin: auto;
    // bottom: 20px;
    padding: 4px;
    // left: 30%;
    margin-left: 10px;
    border: solid 1px $cas-red;
    border-radius: 16px;
    color: $cas-turquoise;
    background-color: transparent;
    font-size: 35px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
  }
}
