.main-container {
  padding: 60px;
  padding-bottom: 5px;

  h1, h2 {
    padding-left: 60px;
    color: white;
  }

  h3 {
    color: white;
  }

  h2 {
    font-size: 50px;
    padding-left: 60px;
  }
}

.form-container {
  padding: 241px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.avatar {
  height: 100px;
  width: 100px;
  margin-bottom: 24px;
  // margin-top: 2px;
  // margin-right: -2px;
}


.events-card {
  position: relative;
  height: 690px;
  border: solid 1px $cas-turquoise;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
    margin-left: 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: normal;
    padding: 0px 0px;
    margin-left: 0px;
  }

  li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 10px 18px;
    left: 30%;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    // button to book event
  }
  a:hover {
    box-shadow: 1px 2px $cas-red;
    border-color: $cas-red;
  }
  li {
    list-style-type: circle;
    padding: 10px;
    margin-left: 20px;
    // color: black ;
  }

}

.new-event-card:hover {
  box-shadow: 1px 2px $cas-turquoise;

  .events-card {
    a {
      font-size: 20px;
      padding: 8px;
      color: white;
      border-radius: 16px;
      border-color: $cas-lime-green;
      margin: 16px 0px;
    }
    .name, .info {
      margin-left: 0px;
    }
  }

  .other-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    .event-photo {
      border: 1px solid $cas-pink;
      // this is what is putting pink around the photo on each card!
    }
  }



  .apply-now-button {
    background-color: transparent;
    margin: auto;
    padding: 28px 42px;
    border: solid 1px $cas-red;
    border-radius: 16px;
    color: $cas-turquoise;
    background-color: transparent;
    font-size: 35px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    height: 400px;
  }
  .outside-button {
    height: 460px;
    background-color: transparent;
    padding: 24px;
    border: solid 1px $cas-turquoise;
    border-radius: 16px;
    position: absolute;
    right: 60px;
    bottom: 80px;
  }

  .apply-now-button:hover {
    box-shadow: 1px 2px $cas-red;
  }

  .outside-button:hover {
    box-shadow: 1px 2px $cas-turquoise;
  }

  .col-form-label {
    visibility: hidden;
  }


  // .upload-photo {
  //   height: 40px;
  //   border: 1px solid $cas-red;
  //   width: 220px;
  //   padding: 8px;
  //   padding-left: 16px;
  //   color: rgb(105, 103, 103);
  // }
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  height: 40px;
  width: 220px;
  padding-top: 8px;
  color: #5f5f5f;
}

.event-photo {
  img {
    width: 220px;
  }
}

#photo-preview {
  width: 220px;
}

.new-event-card {
  height: 340px;
  width: 300px;
  border: 1px solid $cas-turquoise;
  background-color: transparent;
  border-radius: 24px;
  margin-bottom: 16px;
  padding: 30px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: 200px;
  margin-left: 50px;
  padding-left: 10px;
  .inside-new-event-card {
    left: 4%;
    top: 4%;
    margin: auto;
    padding: 60px 4px;
    padding-left: 40px;
    margin-left: 10px;
    margin-right: 25px;
    border: solid 1px $cas-red;
    border-radius: 16px;
    color: $cas-turquoise;
    background-color: transparent;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
  }
}

.inside-new-event-card {
  padding-right: 20px;
  position: relative;
  height: 260px;
  a {
    position: absolute;
    text-decoration: none;
    font-size: 26px;
    right: -5px;
    top: 87px;
  }
}

.inside-new-event-card:hover {
  box-shadow: 1px 2px $cas-red;
}

.filter {
  display: flex;
  max-width: 1200px;
  font-size: 16px;
  color: white;
  padding-left: 62px;
  padding-top: 10px;
  .filters_category {
    // THE WORDS AND HIDDEN RADIO BUTTONS
    display: flex;
    position: absolute;
    top: 258px;
  }
  .collection_radio_buttons:hover {
    // THE WORDS
    color: $cas-red;
  }
  .form-check-input {
    // THE RADIO BUTTONS
    transform: scale(0);
    // HIDING THEM
  }
  .col-form-label {
    visibility: hidden;
  }
}

.bookings-card {
  position: relative;
  border: solid 1px $cas-red;
  border-radius: 8px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  width: 800px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: normal;
    padding: 0px 0px;
  }

  li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 8px;
    border: 1px solid $cas-lime-green;
  }

  #map {
    border: 1px solid $cas-red;
    border-radius: 16px;
  }

  #booking_tickets_count {
    width: 120px;
    text-align: center;
    border-color: $cas-lime-green;
    margin: auto;
  }

  .book-now-button {
    background-color: black;
    color: white;
    border-radius: 16px;
    border-color: $cas-lime-green;
    margin: 16px 0px;
  }

  .book-now-button:hover {
    color: white;
    box-shadow: 1px 2px $cas-lime-green;
  }
  // .new-event {
  //   input {
  //     border: 1px solid $cas-red;
  //   }
}

.mapboxgl-ctrl-attrib-inner {
  visibility: hidden;
}

.mapboxgl-marker {
  g  {
    fill: $cas-red !important;
  }
}
