.main-container {
  padding: 60px;
  padding-bottom: 5px;

  h1, h2 {
    padding-left: 60px;
    color: white;
  }

  h3 {
    color: white;
  }

  h2 {
    font-size: 50px;
    padding-left: 60px;
  }
}

.form-container {
  padding: 241px;
  padding-top: 100px;
  padding-bottom: 5px;
}

.avatar {
  height: 60px;
  width: 60px;
  margin-top: 2px;
  margin-right: -2px;
}

.header-and-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter {
  display: flex;
  flex-direction: row;
  h4 {
    font-size: 34px;
    color: white;
    padding-top: 12px;
  }
}

.events-card, .new-event-card {
  position: relative;
  height: 600px;
  border: solid 1px $cas-turquoise;
  border-radius: 8px;
  list-style: none;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: normal;
    padding: 0px 0px;
  }

    li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
    // button to book event
  }
  a:hover {
    box-shadow: 1px 2px $cas-red;
    border-color: $cas-red;
  }

  img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }

}

// h3 {
//   color: white;
// }

// h2 {
//   font-size: 50px;
//   padding-bottom: 60px;
//   padding-left: 0px;
// }


.other-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .event-photo {
    border: 1px solid $cas-pink;
    // this is what is putting pink around the photo on each card!
  }
}

.bookings-card {
  position: relative;
  border: solid 1px $cas-red;
  border-radius: 8px;
  list-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  color: black;
  background-color: white;
  padding: 30px;
  width: 800px;
  .name {
    color: black;
    font-size: 25px;
    font-family: $headers-font;
    font-weight: bold;
    padding: 5px 0px;
  }
  .info {
    font-family: $headers-font;
    font-weight: normal;
    padding: 0px 0px;
  }

    li {
    display: block;
  }

  a {
    position: absolute;
    bottom: 20px;
    padding: 4px;
    left: 30%;
    margin-left: 10px;
    border: solid 1px white;
    border-radius: 16px;
    color: white;
    background-color: black;
    font-size: 25px;
    text-decoration: none;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 260px;
    border-radius: 8px;
    border: 1px solid $cas-lime-green;
  }

  #map {
    border: 1px solid $cas-red;
    border-radius: 16px;
  }
}

.new-event {
  input {
    border: 1px solid $cas-red;
  }
}

.new-event-card {
  background-color: transparent;
  a {
    left: 4%;
    top: 4%;
    margin: auto;
    padding: 4px;
    margin-left: 10px;
    border: solid 1px $cas-red;
    border-radius: 16px;
    color: $cas-turquoise;
    background-color: transparent;
    font-size: 35px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
  }
  margin-top: auto;
}

#booking_tickets_count {
  width: 120px;
  text-align: center;
  border-color: $cas-lime-green;
  margin: auto;
}

.book-now-button {
  background-color: black;
  color: white;
  border-radius: 16px;
  border-color: $cas-lime-green;
}
