.other-container {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
  img {
    border: 1px solid $cas-lime-green;
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }

  .feed-item-info {
    color: white;
  }
}

.feed-header {
  padding: 60px;
  padding-bottom: 0px;
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  // what does this do???^^^
}

.profile-flip {
  width: 518px;
  height: 384px;
  margin-bottom: 250px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// .flip-card:hover, .flip-card-inner
.flipped {
  transform: rotateY(180deg) !important;
  // background: linear-gradient(rgba(0, 0, 0, 0.346) 0%, rgba(0, 0, 0, 0.5) 60%) !important;
  .feed-item-photo {
    opacity: 0;
  }
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

// .flip-card-front {
//   color: black;
// }

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.feed-item-photo {
  position: relative;
}

.feed-item-info {
  list-style: none;
  position: relative;
  margin: auto;
  a {
    position: absolute;
    top: 90px;
    right: 60px;
    background-color: black;
    color: white;
    border-radius: 16px;
    padding: 8px;
    border: 1px solid $cas-lime-green;
    font-size: 25px;
    text-decoration: none;
  }
  a:hover {
    box-shadow: 1px 2px $cas-lime-green;
  }
}

.profile-feed-item-photo img {
  width: 100%;
  margin-bottom: 20px;
  padding: 30px;
}

.saved-img {
  height: 200px;
  width: 300px;
}

// MAKE POSITION: RELATIVE ON CARD

// .url-button {
//   background-color: black;
//   color: white;
//   border-radius: 16px;
//   border-color: $cas-lime-green;
//   font-size: 25px;
//   text-decoration: none;
// }

// .url-button :hover {
//   box-shadow: 1px 2px $cas-lime-green;
//   border-color: $cas-lime-green;
// }

// a {
//   position: absolute;
//   bottom: 20px;
//   padding: 4px;
//   left: 30%;

// }

// https://stackoverflow.com/questions/59927377/how-to-flip-image-on-click-in-javascript

// .background {
//   background-color: black;
// }
