.other-container {
  // justify-items: center;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
  img {
    border: 1px solid $cas-lime-green;
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }
  // img {
    // transform: rotate(90deg);
    // crop: fill;
  // }
  .feed-item-info {
    color: white;
  }
}

// img :hover {
//   transform: rotateY(180deg);
// }
.feed-header {
  padding: 60px;
  padding-bottom: 0px;
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
}

// .events-card {
//   position: relative;
//   height: 600px;
//   border: solid 1px white;
//   border-radius: 8px;
//   list-style: none;
//   // margin-bottom: 16px;
//   margin-top: 16px;
//   background-color: white;
//   // padding: 30px;
// }

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  // what does this do???^^^
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover, .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.feed-item-photo {
  position: relative;
}

// https://stackoverflow.com/questions/59927377/how-to-flip-image-on-click-in-javascript
