.other-container {
  // justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  list-style: none;
  .feed-item-photo, img {
    border: 1px solid $cas-pink;
    width: 100%;
    height: 260px;
    border-radius: 8px;
  }
  // img {
    // transform: rotate(90deg);
    // crop: fill;
  // }
  .feed-item-info {
    color: white;
  }
}

.events-card {
  position: relative;
  height: 600px;
  border: solid 1px white;
  border-radius: 8px;
  list-style: none;
  // margin-bottom: 16px;
  margin-top: 16px;
  background-color: white;
  // padding: 30px;
}
