
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4vh;
  border-top: 1px solid $cas-lime-green;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // ^^^ these were interferring with the code in application.scss for the footer
  // that prevented it from going over the body
}

.footer li{
  display: inline;
}

.fab, .fas {
  font-size: 60px;
  margin-bottom: 1rem;
}
