
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer li{
  display: inline;
}

.fab, .fas {
    font-size: 60px;
    margin-bottom: 1rem;
  }
