.liked {
  color: #F4225E !important;
  opacity: 1 !important;
}


.heart-icon {
    color: transparent;
    text-shadow: 0 0 #000;
}

.heart-pos {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gray;
  opacity: .6;
//  text-shadow: -2px 2px 2px -2px black;
text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
}
