.nav-container {
  justify-content: space-between;
  background: black;
  max-height: 150px;
  // -webkit-text-stroke: 1px #F4225E;
  padding: 60px;
  border-bottom: 1px solid #33FF00;
}

.nav-container .navbar-collapse {
  flex-grow: 0;
}

.nav-container .navbar-brand img {
  max-width: 100px;
  max-height: 100px;
}

.nav-bar-container {
width: 76%;
font-size: 70;
margin-top: 20px;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #F4225E;
  }
}

.button-wrapper{
// justify-content: flex-start;
  justify-content: space-around;
  max-width: 80%;
  padding-left: 130px;
  // padding-left: 130px; PERFECT FOR 100% BROWSER SIZE
  margin: 20px;

}

.header{
  font-size: 50px;
  color: white;
  margin-bottom: 0px;
  padding-left: 70px;
  margin: 20px;
}

.nav-button {
  border: none;
	background: none;
	// color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.nav-button:hover {
  // text-shadow: 0px 0px 6px #FF3D38;
	// background: #434343;
	// color: #ffffff !important;
	font-weight: 900 !important; //700
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
  text-decoration: none;
}
